@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>List of Finished Meetings</h3>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Meeting ID</th>
			<th>EmailID</th>
			<th>Meeting Information Details</th>
			<th>Short Note on Meet</th>
			<th>From </th>
			<th>To </th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (@ViewBag.status != "Update")
		{
			@foreach (SchedulerModel meet in @ViewBag.MeetingList)
			{
				<tr>
					<td>@meet.MeetingID</td>
					<td>@meet.emailID</td>
					<td>@meet.MeetingInfoDetails</td>
					<td>@meet.MeetingInfoBrief</td>
					<td>@meet.FromDateTime</td>
					<td>@meet.ToDateTime</td>
					<td>
						<div>
							<a href="/User/UserIndex?opnMode=Delete&MeetingId=@meet.MeetingID"><button class="btn btn-outline-danger">Delete</button></a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
